.register {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.register-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.register-textBox {
    margin: 5px !important;
}

.register-btn {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
